.productInfoLink {
    text-decoration: none;
    color: black;
    margin: 0%;
    padding: 0%;
}

.productInfoLink:hover {
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(46, 49, 224, 0.2);
}

.productInfoLink:visited {
    text-decoration: none;
}