.card {
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.front,
.back {
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    align-items: center;
}

.back {
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(0deg);
}